*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $bg;
  font-family: Georgia, serif;
  font-size: 20px;
}

h1,
h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 1em;
}

h2 {font-size:1.25em;}

nav,
main,
aside,
footer {
  padding: 1.5em;
}

header{
  text-align: center;
  padding: 0em;
}

footer {
  padding: 0.1cm;
  text-align: center;
}